<div class="row index_page top-container-100 explore-container">
	<div class="explore">
		<div class="col-sm-12 col-md-12">
			<div class="explore-title">
				<h4>DISCOVER PEOPLE</h4>
			</div>
		</div>
		<% @users.each do |user| %>
			<div class="col-sm-12 col-md-12">
				<div class="explore_user_info">
					<%= cl_image_tag(user.avatar, alt: "img" ,quality: "auto", class: "img-circle post-user-img") %>
					<p class="bt user-username"><%= link_to user.username, profile_path(user.id) %></p>
					<div class="fbtn">
						<%= render 'profiles/follow_button', :user => user%>
					</div>
				</div>
				<div class="explore_user_posts">
					<% if user.posts.present? %>
						<% user.posts.each do |post| %>
							<div class="explore_post-image">
								<%= cl_image_tag(post.picture, alt: "img" ,quality: "auto", class: "img-responsive", height: 185, crop: "scale") %>
							</div>
						<% end %>

					<%else%>
					<div class="no-posts">
						<h5>No posts yet.</h5>
					</div>
					<%end%>
				</div>
			</div>
		<%end%>	
	</div>
</div>
