<div class="row index_page top-container welcome-container">
	<div class="explore">
		<div class="col-sm-12 col-md-12">
			<center>
				<div class="explore-title">
					<div class="welcome-content">
						<span class="glyphicon glyphicon-home welcome-home-icon"></span>
						<h4>Welcome to Instagram!</h4>
						<h5>Follow accounts to see photos and videos in your feed.</h5>
					</div>
				</div>
			</center>
		</div>
	</div>
</div>
