@import "bootstrap-sprockets";
@import "bootstrap";
body {
  font-family: 'Nunito', sans-serif;
  background-color: #fafafa;
  min-width: 320px;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}
.img-responsive {
    display: block;
    width: 100%;
    height: auto;
}
.dropdown-backdrop { 
    display: none;
}
.btn {
    position: relative;
    padding: 8px 30px;
    border: 0;
    cursor: pointer;
    border-radius: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.84);
    transition: background-color 0.2s ease, box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    outline: none !important;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    background-image: none;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.top-container{
  margin-top: 50px;
}
.top-profile{
  margin-top: 80px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    background-color: #e7e7e7;
    font-size: 15px;
    font-weight: 400;
}
.navbar-brand {
    float: left;
    padding: 20px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
    color: #000000;
    font-weight: 800;
}
.navbar-default .navbar-brand {
    color: #5e5e5e;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #f44336;
    background-color: transparent;
}
.navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar-default {
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    border-radius: 0;
}
.glyphicon {
    top: 1px;
    left: -1px;
}
.red {
  background-color: #F44336 !important;
}
.btn-floating {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
  position: absolute;
  top: -30px;
  right: 30px;
  background: #FFFFFF;
}
.btn-floating .glyphicon-heart{
color: #F44336 !important;
font-size: 2.5rem;
}
.btn-floating  .glyphicon-heart-empty {
    width: inherit;
    display: inline-block;
    text-align: center;
    color: #a9a9a9 !important;
    font-size: 2.5rem;
    line-height: 56px;
}
.bt{
  margin: 0;
  font-size: 15px;
  font-weight: 800;
  color: #000000;
}
.bt a {
  color: #000000;
}
.thumbnail {
  margin: 0 auto; 
  position: relative;
   max-width: 600px;
   padding: 0px;
   margin-top: 30px;
   border-radius: 0px;
   box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}
.thumbnail .caption {
  position: relative;
}
.thumbnail-header {
  height: 60px;
  display:flex;
  border-bottom: 1px solid #dadada;
}
.user_info {
  display:flex;
  align-items: center;
}
.user-profile-img {
  width: 150px;
  height: 150px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
}
.user_info img{
  margin: 0 10px;
}
.post-user-img {
  width: 40px;
}
.post-date{
  display: flex;
  position: absolute;
  right: 0;
  margin: 20px;
}
.post-date p{
  margin: 0;
}
.post-image {
  min-height: 450px;
  background-color: #333333;
}


.post-comments {
  margin-top: 20px;
}
.post_likes {
    display: flex;
    align-items: center;
}

.post-comment-input {
  width: 100%;
  border: none;
  height: 40px;
  border-top: 1px solid #c3c3c3;
}
.form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border-top: 1px solid #dadada;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  transition: none;
}
.form-control:focus {
  border-color: #66afe9;
  border: 1px solid;
  border-radius: 0;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.pic {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #607D8B;
  text-align: center;
}
.user-posts .row .col-md-4 {
  padding: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-posts .dropdown {
    position: absolute;
    right: 0;
    top: 10px;
}
.user-posts .dropdown button {
  background-color: transparent;
  border: none;
  color: #fafafa;
  font-size: 20px;
}
.user-posts .dropdown .btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
    outline: none;
    outline-offset: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.likes-date {
  display: flex;
}
.left-p {
  position: absolute;
  right: 10px;
}
.user-info {
  margin-bottom: 40px;
}
.user-info .row {
  max-width: 970px;
  margin: 0 auto;
}
.user-cta {
  display: flex;
  align-items: center;
}
.user-cta .btn{
  margin-left: 30px;
}
.status-list{
  display: inline-flex;
  align-items: flex-end;
}
.status-list li {
  margin-left: 15px;
  font-size: 17px;
}
.status-list li a {
  text-decoration: blink;
  color: black;
}
a:hover, a:focus {
    color: #000000;
    text-decoration: none;
}


.dl-horizontal dt {
    float: left;
    width: inherit;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dl-horizontal dd {
    margin-left: 70px;
}


@media (max-width: 768px) {
  .container {
      padding-right: 0;
      padding-left: 0;
      margin-right: auto;
      margin-left: auto;
  }
  .posts-grid{
    padding-right: 0px;
    padding-left: 0px;
  }
  .post-image {
    min-height: 250px;
    background-color: #333333;
  }
  .user-posts .row .col-md-4 {
      padding: 2px;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
  }
}


.btn-user {
  background-color: #3f51b5;
  color: rgba(255, 255, 255, 0.84);
  position: relative;
  padding: 8px 30px;
  border: 0;
  margin: 10px 1px;
  cursor: pointer;
  border-radius: 2px;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.2s ease, box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none !important;
}

.teste{display: none;}
.pop-up{
  margin-top: 40px;
  padding: 19px;
  margin-bottom: 20px;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2px;
  border: 0;
  background-color: white;
}
.update-btn{
  background-color: #009688;
}




.search-dropdown-menu {
    position: absolute;
    top: inherit;
    left: inherit;
    z-index: 1000;
    display: none;
    width: 201px;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    max-height: 280px;
    overflow-y: auto;
    overflow-x: hidden;
}
.img-search {
  width: 32px;
  height: 32px;
  cursor: pointer;
  margin: 7px 10px;
}

.search-link {
  color: black;
  font-size: 14px;
  font-weight: 600;
}
.search-link {
  display: -webkit-box;
  height: 50px;
  border-bottom: 1px solid #dddddd
}
.search-link:last-child {
    border: none;
}

.posts-grid .col-md-4:nth-child(4){
    clear: both;
}